# Ignore node_modules globally
**/node_modules/

# Ignore environment files
Backend/config.env

# Ignore React build files (if applicable)
FrontEnd/GymApp/build/

# Logs
*.log
logs/

# System-specific files
.DS_Store
Thumbs.db
